.box {
	max-width: 768px;
	border: 1px solid #FF00FF;
	margin: 1em auto;
	padding: 5px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.50)
}
html {
	background: url(bg.jpg) no-repeat fixed 100% 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
    font-family: 'Inconsolata', monospace;
    color: #FFFFFF;
    text-shadow: 0 0 3px #000000
}
h1 {
    color: #FF00FF;
}
h2 {
    color: #00FFFF;
}
a:link {
    color: #00FFFF;
}
a:visited {
    color: #FF00FF;
}
a:hover {
    color: #00FFFF;
}
a:active {
    color: #FF00FF;
}
/*created by wave - version 11 - 2018*/